In [37]:
import pyspark
import findspark
import time
import os
import csv
from numpy import array
from pyspark import SparkContext, SparkConf
import re
from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType
from pyspark.sql import functions as F

In [48]:
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local").getOrCreate()

In [46]:
df1 = spark.read.csv("weather01.txt", inferSchema = True, header = True)
#df2 = spark.read.csv("weather02.txt", inferSchema = True, header = True)
#df3 = spark.read.csv("weather03.txt", inferSchema = True, header = True)
#df4 = spark.read.csv("weather04.txt", inferSchema = True, header = True)
#df5 = spark.read.csv("weather05.txt", inferSchema = True, header = True)
#df6 = spark.read.csv("weather06.txt", inferSchema = True, header = True)

In [26]:
type(df1)

pyspark.sql.dataframe.DataFrame

In [27]:
df1.printSchema()

root
 |--       X year month                   measure                X1        X2: string (nullable = true)

In [28]:
df1.head(5)

[Row(      X year month                   measure                X1        X2='1     1 2014    12          Max.TemperatureF                64        42'),
 Row(      X year month                   measure                X1        X2='2     2 2014    12         Mean.TemperatureF                52        38'),
 Row(      X year month                   measure                X1        X2='3     3 2014    12          Min.TemperatureF                39        33'),
 Row(      X year month                   measure                X1        X2='4     4 2014    12            Max.Dew.PointF                46        40'),
 Row(      X year month                   measure                X1        X2='5     5 2014    12            MeanDew.PointF                40        27')]

In [30]:
df1.show(5, truncate = True)

+------------------------------------------------------------------------+
|      X year month                   measure                X1        X2|
+------------------------------------------------------------------------+
|                                                    1     1 2014    1...|
|                                                    2     2 2014    1...|
|                                                    3     3 2014    1...|
|                                                    4     4 2014    1...|
|                                                    5     5 2014    1...|
+------------------------------------------------------------------------+
only showing top 5 rows

In [32]:
df1.count()

286

In [34]:
len(df1.columns), df1.columns

(1,
 ['      X year month                   measure                X1        X2'])